.Shopping-cart{
    display: flex;
    justify-content: center;
}

.ShoppingC-Container{
    background-color: #000;
    width: 40%;
    border-radius: 20px;
    margin: 6em;
}

.ShoppingC-Text {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d84339;
}

    .ShoppingItems{
  
     display: flex;
     flex-direction: row;
     align-content: center;
     justify-content: center;
     flex-wrap: wrap; 
    }
     
     .ShoppingCard {
         background-color: #E8DCCC;
         display: flex;
         flex-direction: row;
         align-items: center;
     }
     .NameShopping {
         display: flex;
         justify-content: center;
         font-size: 1.5em;
     }
     
    .ImageShopping { 
     margin: 2em;
     width: 40%;
    
     }

     .total-form{
        color: #d84339;
        font-size: 2em;
        margin: 12px;
        display: flex;
        flex-direction: column;
     }
     .total{
         display: flex;
        
    justify-content: center;
         
     }
     @media (max-width: 700px) {
        .ShoppingCard, .ShoppingItems {
            display: flex;
            flex-direction: column;
        }
        .NameShopping {
            display: flex;
            font-size: 1em;
            justify-content: center;
        }

        .ImageShopping {
            margin: 1em;
            width: 58%;
        }
    }
    @media (max-width: 650px) {
    .ShoppingC-Container {
        background-color: #000;
        border-radius: 20px;
        margin: 6em;
        width: 91%;
    }}
    @media (max-width: 400px) {
        .ShoppingC-Container {
            background-color: #000;
            border-radius: 20px;
            margin: 8em;
            width: 91%;
        }}