.Product-Container{
    background-color: #E8DCCC;
    display: flex;
    width: 80%;
    margin: 30px;
    align-items: center;
    justify-content: space-around;

    
    border-radius: 4em;
}



.ProductCard{
    display: flex;
    align-content:center;
    justify-content: center;
}
.ProductInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    font-size: 1.5vw;
}


.ProductImg {
    width: 25em;
    margin: 2em;
    border-radius: 2em;
}

.Titulos {
    font-size: 2em;

    margin: 15px;
}
.Transparent{
   color: #E8DCCC;
}

.ButtonP {
    margin: 1em;
    min-width: 130px;
    height: 40px;
    color: #000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #fff;
    box-shadow: 0 5px #000;
    width: 8vw;
  }
  .ButtonP:hover {
    box-shadow: 0 3px #000;
    top: 1px;
  }
  .ButtonP:active {
    box-shadow: 0 0 #000;
    top: 5px;
  }
  
  @media (max-width: 950px) {
    .Product-Container{
       
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Product-Container {
        width: 52vw;
    }
    .ProductImg {
        width: 44vw;
    }
    .ProductInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        font-size: 2.5vw;
    }

    
}



@media (max-width: 600px) {
    .Product-Container {
        width: 67vw;
    }
    .ProductInfo {
        font-size: 3.5vw;
    }
    .Titulos {
        font-size: 2em;
        margin: 3vw;
    }

    
}
@media (max-width: 500px) {

    .ButtonP{
        width: auto;
        margin-bottom: 1em;
    }
    
    .ProductImage {
        width: 19em;
        margin: 2em;
        border-radius: 2em;
    }
    .ProductInfo {
        align-items: center;
    }
    
}
@media (max-width: 300px){}
.ProductImage {
    border-radius: 2em;
    margin: 2em;
    width: 13em;
}