.containerCards {
  
   display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
flex-wrap: wrap; }

.productCard {
    margin: 1.5em;
    background-color: #E8DCCC;
}
.Namecard {
    display: flex;
    justify-content: center;
    font-size: 2.2em;
}

.Pricecard {
    font-size: 3em;
    margin: 0;
    margin-left: 8%;
}

.productImage {
    margin: 2em;
}