.containerCards {
  
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
flex-wrap: wrap; }

.productCard {
    margin: 1.1em;
    background-color: #E8DCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Namecard {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.Pricecard {
    font-size: 2.1em;
    margin: 0;
    display: flex;
    justify-content: center;

}

.productImage {
    margin: 2em;
}
.Image-product {
    width: 100%;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}

.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:420px) {
    .Namecard {
        display: flex;
        justify-content: center;
        font-size: 1.7em;
    }
    
}