.Info {
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    flex-wrap: wrap;
    
}

.Info-text {
    margin: 1vw;
}
.Info-Icons{
   font-size: 2em;
}
.Info-Container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
   