.Footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 justify-content: center;
 flex-wrap: wrap;
 background-color: whitesmoke;
}
.Footer-Contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.Footer-inicio{
    margin: 1em;
    display: flex;
  
    FONT-SIZE: 2EM;
}
.Footer-reserve {
  width: 5%;
  border-radius: 58%;
}
.Footer-Icons {
  font-size: 3em;
}
.Footer-Text{
    margin: 1em;
    font-size: 1.5em;
}
.Footer-Bolivares {
    font-size: 4em;
    margin: 0;
}
.Footer-links{
    padding-left: 1em;
    display: flex;
}
@media (max-width: 500px) {

  .Footer-Text {
    font-size: 1em;
}
.Footer-Bolivares {
  font-size: 9vw;
  margin: 0;
}
.Footer-Icons {
  font-size: 2em;
}
.Footer-reserve {
  width: 9%;
  border-radius: 58%;
}
.Footer-links {
  padding-left: 1em;
  display: flex;
  font-size: 85%;
}
}



@media (max-width: 420px){
  .Footer-container {
    background-color: #f5f5f5;
    justify-content: center;
    width: 100vw;
}
}
@media (max-width: 400px) {
.Footer-container {
    
    width: 100%;
}
}