@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App {
    background-color: #F3ECE4;
    width: 100%;
    height: 100%;
    background-size: auto;
    font-family: 'Bebas Neue';
    

}



  